.review-container{
    margin: 50px auto;
}
.btn-proceed{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    font-size: 18px;
    background: #FF9900;
    color: white;
    border-radius: 4px;
}
.btn-link{
    text-decoration: none;
}